<!-- Details 2 -->
<div class="basic-3">
	<img class="decoration-star" src="/home/images/decoration-star.svg" alt="alternative">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-xl-7">
				<div class="text-container">
					<h2><%= page.details2_title %></h2>
					<p><%= page.details2_text %></p>
					<a class="btn-solid-reg" href="article.html">Get started</a>
				</div> <!-- end of text-container -->
			</div> <!-- end of col -->
			<div class="col-lg-6 col-xl-5">
				<div class="image-container">
					<img class="img-fluid" src="/home/images/details-2.png" alt="alternative">
				</div> <!-- end of image-container -->
			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of details 2 -->
