<!-- Projects -->
<div id="products" class="cards-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="h2-heading">Fairly Tires for Sale</h2>
			</div> <!-- end of col -->
		</div> <!-- end of row -->
		<div class="row">
			<div class="col-lg-12 grid-md-2x d-lg-block">

				<!-- Card -->
				<div class="card">
					<div class="card-img-holder d-flex justify-content-center position-relative">
						<a href="/storeDetails" style="opacity: 0;transition: opacity .2s ease-out"
							class="btn btn-solid-reg onHover-primary absolute-center on-line">Contact Us</a>
						<img class="img-fluid details-img mb-0" src="/home/images/products/tireImg1.jpg"
							alt="alternative">
					</div>
					<div class="card-body d-none">
						<h5 class="card-title">Tires ready for export</h5>
						<p class="card-text">Quickly contact us to purchase a tire now. Check it out in our store. <a
								class="blue no-line" href="/storeDetails">Go to Store</a></p>
					</div>
				</div>
				<!-- end of card -->

				<!-- Card -->
				<div class="card">
					<div class="card-img-holder d-flex justify-content-center position-relative">
						<a href="/storeDetails" style="opacity: 0;transition: opacity .2s ease-out"
							class="btn btn-solid-reg onHover-primary absolute-center on-line">Contact Us</a>
						<img class="img-fluid details-img mb-0" src="/home/images/products/tireImg3.jpg"
							alt="alternative">
					</div>
					<div class="card-body d-none">
						<h5 class="card-title">Tires ready for export</h5>
						<p class="card-text">Quickly contact us to purchase a tire now. Check it out in our store. <a
								class="blue no-line" href="/storeDetails">Go to Store</a></p>
					</div>
				</div>
				<!-- end of card -->

				<!-- Card -->
				<div class="card">
					<div class="card-img-holder d-flex justify-content-center position-relative">
						<a href="/storeDetails" style="opacity: 0;transition: opacity .2s ease-out"
							class="btn btn-solid-reg onHover-primary absolute-center on-line">Contact Us</a>
						<img class="img-fluid details-img mb-0" src="/home/images/products/tireImg4.jpg"
							alt="alternative">
					</div>
					<div class="card-body d-none">
						<h5 class="card-title">Tires ready for export</h5>
						<p class="card-text">Quickly contact us to purchase a tire now. Check it out in our store. <a
								class="blue no-line" href="/storeDetails">Go to Store</a></p>
					</div>
				</div>

				<!-- Card -->
				<div class="card">
					<div class="card-img-holder d-flex justify-content-center position-relative">
						<a href="/storeDetails" style="opacity: 0;transition: opacity .2s ease-out"
							class="btn btn-solid-reg onHover-primary absolute-center on-line">Contact Us</a>
						<img class="img-fluid details-img mb-0" src="/home/images/products/tireImg5.jpg"
							alt="alternative">
					</div>
					<div class="card-body d-none">
						<h5 class="card-title">Tires ready for export</h5>
						<p class="card-text">Quickly contact us to purchase a tire now. Check it out in our store. <a
								class="blue no-line" href="/storeDetails">Go to Store</a></p>
					</div>
				</div>
				<!-- end of card -->

				<!-- Card -->
				<div class="card">
					<div class="card-img-holder d-flex justify-content-center position-relative">
						<a href="/storeDetails" style="opacity: 0;transition: opacity .2s ease-out"
							class="btn btn-solid-reg onHover-primary absolute-center on-line">Contact Us</a>
						<img class="img-fluid details-img mb-0" src="/home/images/products/tireImg7.jpg"
							alt="alternative">
					</div>
					<div class="card-body d-none">
						<h5 class="card-title">Tires ready for export</h5>
						<p class="card-text">Quickly contact us to purchase a tire now. Check it out in our store. <a
								class="blue no-line" href="/storeDetails">Go to Store</a></p>
					</div>
				</div>
				<!-- end of card -->

				<!-- Card -->
				<div class="card">
					<div class="card-img-holder d-flex justify-content-center position-relative">
						<a href="/storeDetails" style="opacity: 0;transition: opacity .2s ease-out"
							class="btn btn-solid-reg onHover-primary absolute-center on-line">Contact Us</a>
						<img class="img-fluid details-img mb-0" src="/home/images/products/tireImg2.jpg"
							alt="alternative">
					</div>
					<div class="card-body d-none">
						<h5 class="card-title">Tires ready for export</h5>
						<p class="card-text">Quickly contact us to purchase a tire now. Check it out in our store. <a
								class="blue no-line" href="/storeDetails">Go to Store</a></p>
					</div>
				</div>
				<!-- end of card -->
			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of projects -->