<!-- Testimonials -->
<div class="slider-1 bg-gray">
	<img class="quotes-decoration" src="/home/images/quotes.svg" alt="alternative">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<!-- Card Slider -->
				<div class="slider-container">
					<div class="swiper-container card-slider">
						<div class="swiper-wrapper">
							
							<!-- Slide -->
							<div class="swiper-slide">
								<!-- <img class="testimonial-image" src="/home/images/testimonial-1.jpg" alt="alternative"> -->
								<p class="testimonial-text">“I've been buying my tires from Go Int for years now, and I will continue buying from them.”</p>
								<div class="testimonial-author">Forturn</div>
								<!-- <div class="testimonial-position">General Manager - Scouter</div> -->
							</div> <!-- end of swiper-slide -->
							<!-- end of slide -->
	
							<!-- Slide -->
							<div class="swiper-slide">
								<!-- <img class="testimonial-image" src="/home/images/testimonial-2.jpg" alt="alternative"> -->
								<p class="testimonial-text">“One of the best places to get used tires from. They where even able to send tires for me in Nigeria.”</p>
								<div class="testimonial-author">Olua Peters</div>
								<!-- <div class="testimonial-position">Team Leader - Vanquish</div> -->
							</div> <!-- end of swiper-slide -->
							<!-- end of slide -->
	
							<!-- Slide -->
							<div class="swiper-slide">
								<!-- <img class="testimonial-image" src="/home/images/testimonial-3.jpg" alt="alternative"> -->
								<p class="testimonial-text">“I love the services they offered me. It made me feel like buying more tires.”</p>
								<div class="testimonial-author">Victor</div>
								<!-- <div class="testimonial-position">Design Chief - Bikegirl</div> -->
							</div> <!-- end of swiper-slide -->
							<!-- end of slide -->
	
						</div> <!-- end of swiper-wrapper -->
	
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<!-- end of add arrows -->
	
					</div> <!-- end of swiper-container -->
				</div> <!-- end of slider-container -->
				<!-- end of card slider -->

			</div> <!-- end of col -->
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of testimonials -->