<!-- Hero Slider Begin -->
<section class="hero-slider">
	<div class="hero-items owl-carousel">
		<div class="single-slider-item set-bg" style="background-color: rgb(176 188 194);background-blend-mode: multiply;" data-setbg="/store/img/slider-1.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>2022</h1>
						<h2>Rideing Home.</h2>
						<a href="/store/categories" class="primary-btn">See More</a>
					</div>
				</div>
			</div>
		</div>
		<div class="single-slider-item set-bg" style="background-color: rgb(176 188 194);background-blend-mode: multiply;" data-setbg="/store/img/slider-2.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>2022</h1>
						<h2>Rideing Home.</h2>
						<a href="/store/categories" class="primary-btn">See More</a>
					</div>
				</div>
			</div>
		</div>
		<div class="single-slider-item set-bg" style="background-color: rgb(176 188 194);background-blend-mode: multiply;" data-setbg="/store/img/slider-3.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>2022</h1>
						<h2>Rideing Home.</h2>
						<a href="/store/categories" class="primary-btn">See More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Hero Slider End -->