<!-- Header Section Begin -->
<header class="header-section">
	<div class="container-fluid">
		<div class="inner-header">
			<div class="logo">
				<a href="/store/home"><img src="/store/img/logo.png" alt=""></a>
			</div>
			<!-- <div class="header-right">
				<img src="/store/img/icons/search.png" alt="" class="search-trigger">
				<a href="/store/shopping-cart">
					<img src="/store/img/icons/bag.png" alt="">
					<span>2</span>
				</a>
			</div> -->
			<div class="user-access">
				<!-- <img src="/store/img/icons/man.png" alt=""> -->
				<a href="/store/login-register">LogIn</a>
				<!-- <a href="/store/#" class="in">Sign in</a> -->
			</div>
			<nav class="main-menu mobile-menu">
				<ul>
					<li><a class="active" href="/store/home">Home</a></li>
					<li><a href="/store/categories">Shop</a>
						<ul class="sub-menu">
							<li><a href="/store/product-page">Product Page</a></li>
							<li><a href="/store/shopping-cart">Shopping Card</a></li>
							<li><a href="/store/check-out">Check out</a></li>
						</ul>
					</li>
					<li><a href="/store/check-out">Blog</a></li>
					<li><a href="/store/contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<!-- Header Info Begin -->
<div class="header-info">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="header-item">
					<img src="/store/img/icons/delivery.png" alt="">
					<p>Free shipping on orders over $30 in USA</p>
				</div>
			</div>
			<div class="col-md-4 text-left text-lg-center">
				<div class="header-item">
					<img src="/store/img/icons/voucher.png" alt="">
					<p>20% Student Discount</p>
				</div>
			</div>
			<div class="col-md-4 text-left text-xl-right">
				<div class="header-item">
				<img src="/store/img/icons/sales.png" alt="">
				<p>30% off on dresses. Use code: 30OFF</p>
			</div>
			</div>
		</div>
	</div>
</div>
<!-- Header Info End -->
<!-- Header End -->